@import "../components/slick.css";
@import "../components/slick-theme.css";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1180px;
  margin: auto;
}